/* Detail Page CSS*/
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

.EventDetails {
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: rgba(112, 175, 230, 0.637);
    border-radius: 15px;
}
.event-info {
    display: flex;
    flex-direction: row;
}

.image-container {
    padding-left: 100px;
    width: 40vw;
}

.image-container img {
    width: 80%;
}

.event-details {
    width: 45vw;
}

.event-details p {
    color: black !important;
    font-family: Imprima, sans-serif;
    font-size: 1em;
    font-weight: 600;
    
}